{% load static %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
    {% for book in books %}
        <div class="item-container col">
            <a href="{% url 'book_detail' book.slug %}" class="text-decoration-none">
                <div class="card h-100">
                    <img src="{% if book.image %}{{ book.image.url }}{% else %}{{ default_image }}{% endif %}" 
                         class="custom-card-img-top" alt="Image">
                    <div class="card-body text-center">
                        <h6 class="card-title">{{ book.title }}</h6>
                    </div>
                </div>
            </a>
            {% if user.is_superuser %}
                <a href="{% url 'book_edit' book.slug %}" class="edit-icon pt-4 pr-1">
                    <img src="{% static 'store/images/edit-icon.jpg' %}" alt="Edit" width="30" height="30">
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
