{% extends 'store/base.html' %}
{% load static %}
{% load i18n %}
{% load book_list_tags %}

{% block content %}
<div class="container">
    <div class="mb-4 text-center">
        <img src="{% if author.image %}{{ author.image.url }}{% else %}{% static 'store/images/default_author.png' %}{% endif %}"
             alt="{{ author.first_name }} {{ author.last_name }}"
             class="custom-card-img-details img-fluid rounded">
        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    </div>
    <p>{{ author.description }}</p>
    <h3>{% trans "Author books" %}:</h3>
    {% if user.is_superuser %}
        <a href="{% url 'book_add_author' author.slug %}" class="btn btn-secondary btn-sm mt-1 mb-1">{% trans "Add new book" %}</a>
    {% endif %}
    {% book_grid books %}
</div>
{% endblock %}
