{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="mb-4 text-center">
        <img src="{% if author.image %}{{ author.image.url }}{% else %}{% static 'store/images/default_author.png' %}{% endif %}"
             alt="{{ author.first_name }} {{ author.last_name }}"
             class="custom-card-img-details img-fluid rounded">
        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    </div>
    <p>{{ author.description }}</p>
    <h3>Книги автора:</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
        {% for book in books %}
            <div class="col">
                <a href="{% url 'book_detail' book.slug %}" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'store/images/default_book.png' %}{% endif %}" class="card-img-top" alt="Image">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ book.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
