{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{% if book %}{{ book.title }}{% else %}Добавить новую книгу{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mb-3">
            <label for="audio_files" class="form-label">Добавить аудиофайлы</label>
            <input type="file" name="audio_files" id="audio_files" class="form-control" multiple>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                {% if book %}"Сохранить изменения"{% else %}Добавить книгу{% endif %}
            </button>
            <a href="{{ previous_page }}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}
